{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tournament Arena{% endblock %}</title>
    <link rel="stylesheet" href="{%static 'css/output.css'%}">
    <script src="{%static 'js/global_scripts.js'%}"></script>
    <style>
        @keyframes slideDown {
            from {
                transform: translateY(-100%);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
        .animate-slide-down {
            animation: slideDown 0.3s ease-out;
        }
    </style>
</head>
    {%block body%}
    {%endblock body%}
</html>