{%extends 'layout/base.html'%}

{% load django_browser_reload %}
{%load static%}

{%block body%}
<body class="min-h-screen">

    {% block messages %}
        {%include "layout/messages.html"%}
    {% endblock %}

    <!-- Modal Block -->
    {% block modal %}
    <!-- Os modais específicos de cada página podem ser inseridos aqui -->
    {% endblock %}

    <!-- Main Content -->
    <div class="flex justify-center min-h-screen">
        {% block content %}{% endblock %}
    </div>

    <!-- Scripts Block -->
    {% block scripts %}
    {% endblock %}
    {% django_browser_reload_script %}
</body>
{%endblock body%}